DB_DSN="mysql:host=localhost;dbname=otrs"
DB_USER="YOUR_OTRS_DATABASE_USERNAME"
DB_PASSWORD="INSERT_PASSWORD_HERE"

OTRS_URL="https://ticket.example.com/otrs/nph-genericinterface.pl/Webservice/YOURSERVICENAME/YOURMETHODNAME"
OTRS_USER="YOUR_OTRS_USERNAME"
OTRS_PASSWORD="INSERT_PASSWORD_HERE"
